@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-size: 20px;
}
#header1-1 P {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 21px;
  text-align: center;
}
#testimonials1-2 .mbr-reviews__text P {
  text-align: center;
  color: #000000;
}
#testimonials1-2 .mbr-section__header {
  font-size: 20px;
}
#slider2-5 P {
  text-align: left;
}
#slider2-5 H1 {
  color: #000000;
  text-align: left;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#slider2-d H1 {
  text-align: left;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-size: 20px;
}
#msg-box5-10 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-10 .mbr-article {
  color: #ffffff;
}
#content5-13 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-article {
  color: #fff;
}
#msg-box1-15 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-15 .mbr-article {
  color: #fff;
}
#msg-box2-16 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-16 .mbr-article {
  color: #252525;
}
#msg-box3-17 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-17 .mbr-header .mbr-header__subtext {
  text-align: center;
}
